.home {
    height: 40vw;
    background-color: #473a8d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
#homeplay {
    width: 13vw;
    height: 5vw;
    background-color: #0ab306;
    border-radius: 30px;
    font-size: 20px;
    cursor: pointer;
    color: white;
    border-color: rgb(255, 255, 255);
    border-style: dashed;
}